<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Assignment-20.1</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>This page was received using <%= title %> request </h1>
    <br>
    <h2>Id passed in url is <%= id %></h2>
</body>
</html>
